<div class="container-fluid">
    <footer class="d-flex flex-column align-items-center justify-content-center py-3 my-4 text-center">
      <a href="/" class="col-md-12 d-flex align-items-center justify-content-center mb-4 md-0 me-md-auto text-primary text-decoration-none fw-bold">
        Notas.  
        </a>
      <p class="col-md-6 mb-4 text-muted">&copy; <%= new Date().getFullYear(); %> Smith • Desenvolvido com NodesJs, Express, MongoDB & Passport.</p>
      
      <ul class="nav col-md-4 mb-2 justify-content-center">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
      </ul>

      <div class="nav-item my-3 d-flex align-items-center justify-content-center text-muted">
        <div>Créditos</div>
        <a href="https://www.buymeacoffee.com/raddythebrand" class="nav-link px-2 text-muted"> Raddy</a>
      </div>

    </footer>
  </div>