<div class="container">
  <footer class="footer">
    <a href="/" class="footer-logo">joBiu</a>

    <p class="footer-text">
      &copy; <%= new Date().getFullYear(); %> Smith • Desenvolvido com Node.js, Express, MongoDB & Passport.
    </p>

    <nav class="footer-nav">
      <!-- Links extras podem ir aqui futuramente -->
    </nav>
  </footer>
</div>
