<div class="container">
  <footer class="footer">
    <a href="/" class="footer-logo">vaply</a>

    <p class="footer-text">
      &copy; <%= new Date().getFullYear(); %> Smith • Desenvolvido com Node.js, Express, MongoDB & Passport.
    </p>

    <nav class="footer-nav">
      <ul>
        <li><i class="fas fa-envelope"></i> <a href="mailto:contato@jimmysmith.com.br">contato@jimmysmith.com.br</a></li>
        <li><i class="fas fa-phone"></i> <a href="https://wa.me/5527999683913" target="_blank">(27) 99968-3913</a></li>
        <!--<li><i class="fas fa-link"></i> <a href="https://linktr.ee/smithymmije" target="_blank">Linktree</a></li>-->
      </ul>
    </nav>
  </footer>
</div>
