<div class="container">
  <header class="custom-header">
    <a href="/" class="site-logo">vaply</a>

    <form class="search-form" method="POST" action="/dashboard/search">
      <input type="search" name="searchTerm" placeholder="Procurar minhas vagas publicadas" aria-label="Search"
        value="<%= typeof searchTerm !== 'undefined' ? searchTerm : '' %>">
    </form>

    <div class="logout-group">
      <a href="/logout" class="btn-logout">Sair</a>
    </div>
  </header>
</div>
