<div class="search-wrapper">
    <% if (searchResults != '') { %>
      <% searchResults.forEach(function (note, index) { %>
        <div class="search-item">
          <a href="/dashboard/item/<%= note._id %>">
            <h4><%= note.title %></h4>
          </a>
        </div>
      <% }) %>
    <% } else { %>
      <p class="no-results">Não foram encontrados itens.</p>
    <% } %>
  </div>
  