<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Não Encontrada</title>
</head>
<body>
    <div class="container-fluid container-fluid-custom py-md-5 mb-5">
        <main>
            <div class="row py-md-5 text-center justify-content-center">
                <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                    <h1 class="display-2 fw-bold mb-4 position-relative home-title">
                        Página Não Encontrada.
                    </h1>
                    <a href="/" class="btn btn-primary btn-lg">Explore Notas.</a>
                </div>
            </div>
        </main>
    </div>

    <!-- Script para redirecionar a página após um determinado tempo -->
    <script>
        setTimeout(function() {
            window.location.href = "/";
        }, 5000); // Redireciona para "/" após 5 segundos
    </script>
</body>
</html>
