<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
         <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 mb-md-0">
                <h1 class="display-2 fw-bold mb-4 position-relative home-title">
                    Liberte sua criatividade. O mundo espera por suas palavras
                </h1>
                <p class="fs-4 mb-4">
                    Este sistema de notas foi desenvolvido com Node.js, EJS & MongoDB.
                </p>
                <a href="/auth/google" class="btn btn-primary btn-lg">Crie Arte, é de graça!</a>
            </div>

         </div>

    </main>
</div>